* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}





table {
    width: 100%;
}
.main-btn {
    width: 25%;
    height: 3rem;
    background: pink;
}

.main-btn-text {
    text-decoration: none;
    text-align: center;
    font-size: 3vw;
}

.sub {
    border: 1px solid;
    border-radius: 5px;
    margin-top: 2rem;
    max-width: 95%;
    margin: auto;
}

h1 {
    font-size: 7vw;
}

.subject-title h2 {
    font-size: 1.5vw;
}

.des p {
    font-size: 3.5vw;
}

.dl-btn {
    font-size: 3.5vw;
    text-align: center;
    text-decoration: none;
    background: skyblue;
    box-shadow: 10px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 1.2rem;
}


.sub-content {
    width: 97%;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
}

.day {
    font-size: 3vw;
}